#post-image {
    width: 100%;
}

#post-video {
    width: 100%;
}

img#post-image {
    width: 100%
}

#post {
    max-width: 500px;
}

div#form {
    max-width: 600px;
}

#comment-body{
    resize: none
}