#post-image {
    width: 100%;
    height: 300px;
}

#post-video {
    width: 100%;
    height: 300px;
}

#post {
    max-width: 500px;
}

div#form {
    max-width: 600px;
}

#comment-body{
    resize: none
}

#users-list {
    margin-left: 240px;
    margin-right: 240px;
    max-width: 800px;
}

#user-search {
    margin-left: 440px;
    margin-right: 440px;
    width: 400px;
}

img#avatar {
    width: 300px;
}

button.btn.btn-primary.text-bottom {
    margin-top: 160px;
}


